#loan_calculate_widget_body {
  font: 12px/1.33333 Verdana,"DejaVu Sans",Arial,Helvetica,sans-serif;
  font-size: 12px !important;
  width: 372px;
  overflow-x: hidden;
  line-height: 1.3333;
}
#loan_calculate_widget_body a {
  text-decoration: none;
  outline: none;
}
#loan_calculate_widget {
  width: 372px;
  height: 290px;
  background-color: #F4F7FB;
  border: 1px solid #CAD5DF;
  border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
  overflow: hidden;
}
#loan_calculate_widget h1 {
  font-size: 15px;
  font-weight: normal;
  padding: 8px;
  border-bottom: 1px solid #CAD5DF;
}
#loan_calculate_widget #sliders {
  border-bottom: 1px solid #CAD5DF;
  margin: 0 8px;
  overflow: hidden;
  padding-bottom: 12px;
  visibility: hidden;
}
#loan_calculate_widget .slider_label,
#loan_calculate_widget .slider_box {
  font-weight: bold;
  float: left;
  width: 163px;
  height: 21px;
  margin-top: 20px;
}
#loan_calculate_widget .slider_box {
  width: 135px;
  margin-top: 20px;
}
#loan_calculate_widget #own_capital_slider {
  margin-top: 18px;
}
#loan_calculate_widget .slider_box .left,
#loan_calculate_widget .slider_box .right {
  display: block;
  background: url(../img/left.png) no-repeat transparent;
  height: 7px;
  left: -63px;
  position: relative;
  top: 7px;
  width: 70px;
}
#loan_calculate_widget .slider_box .right {
  background: url(../img/right.png) no-repeat transparent;
  left: 118px;
  top: -7px;
}
#loan_calculate_widget #sliders .slider {
  background-color: #97ACC1;
  border-color: #97ACC1;
  height: 5px;
}
#loan_calculate_widget #sliders .slider .ui-slider-range {
  border-color: #97ACC1;
  background-color: #dfe6ec;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #dfe6ec), color-stop(70%,  #ffffff));
  background-image: -moz-linear-gradient(top, #dfe6ec 0%,  #ffffff 70%);
  background-image: linear-gradient(top, #dfe6ec 0%,  #ffffff 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfe6ec', endColorstr='#ffffff');
  border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
}
#loan_calculate_widget #sliders .slider .ui-slider-handle {
  height: 18px;
  font-size: 11px;
  display: block;
  padding-top: 2px;
  width: 90px;
  text-align: center;
  background-color: #ffffff;
  color: #345E87;
  font-weight: bold;
  top: -8px;
  margin-left: -50px;
  cursor: pointer;
  background: url(../img/slider.png) no-repeat scroll  #ffffff;
}
#loan_calculate_widget #finance_example {
  margin: 0 8px 8px 8px;
  border-top: 1px solid #ffffff;
  padding-top: 12px;
  overflow: hidden;
}
#loan_calculate_widget i.border_holder {
  border-bottom: 1px solid #CAD5DF;
  display: block;
  height: 1px;
}
#loan_calculate_widget i.border_holder_top {
  border-top: 1px solid #ffffff;
  border-bottom :none;
}
#loan_calculate_widget #finance_example .compute_data {
  margin-top: 10px;
  float: left;
  width: 50%;
}
#loan_calculate_widget #finance_example .monthly_rate p {
  text-align: right;
  margin-right: 30px;
}
#loan_calculate_widget #finance_example .compute_data .value {
  font-size: 22px;
  color: #335d86;
  font-weight: bold;
  margin-top: 5px;
}
#loan_calculate_widget #links {
  border-top: 1px solid #ffffff;
  padding: 10px;
  overflow: hidden;
}
#loan_calculate_widget #links #assumpt {
  color: #0044CC;
  text-decoration: underline;
  display: block;
  float: left;
  width: 45%;
  margin-top: 10px;
}
#loan_calculate_widget #links div {
  float: right;
  width: 55%;
}
#loan_calculate_widget #links div a {
  background: url("../img/sp_hp-search.png") no-repeat scroll 100% -380px transparent;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  text-decoration: none !important;
  height: 36px;
}
#loan_calculate_widget #links div a span {
  font-size: 13px;
  background: url("../img/sp_hp-search.png") no-repeat scroll 0 -280px transparent;
  color: #FFFFFF;
  display:inline-block;
  font-weight: bold;
  line-height: 19px !important;
  padding: 9px 20px;
  text-shadow: -1px -1px 0 #FF7500, 1px -1px 0 #FF7500, 0 -1px 0 #FF7500, 0 1px 1px #FF7500;
  height: 30px;
}
#loan_calculate_widget #links div a:hover {
  background-position: 100% -430px;
  color: #FFFFFF;
}
#loan_calculate_widget #links div a span:hover {
  background-position: 0 -330px;
  text-shadow: none;
}